
core/__pycache__/

core/configs/__pycache__/

project/pages/__pycache__/

project/__pycache__/

.idea/

*.pyc

venv/bin/

venv/lib/python3.7/site-packages/_pytest/

venv/lib/python3.7/site-packages/alabaster-0.7.12.dist-info/

venv/lib/python3.7/site-packages/alabaster/

venv/lib/python3.7/site-packages/

venv/
